{% from 'BtnAdminBundle:_macros:breadcrumb.html.twig' import breadcrumb as bc %}
{% import 'BtnAdminBundle:_macros:link.html.twig' as lnk %}
{% import 'BtnAdminBundle:_macros:list.html.twig' as lst %}
{% extends 'BtnAdminBundle::base.html.twig' %}

{% block content %}

    {{ lst.header('news.list') }}

    <table class="{{ lst.table_class() }}">
        <thead>
            <tr>
                <th class="{{ lst.col_id_class() }}">{% trans %}news.id{% endtrans %}</th>
                <th>{% trans %}news.title{% endtrans %}</th>
                <th>{% trans %}news.category{% endtrans %}</th>
                <th>{% trans %}news.updated_at{% endtrans %}</th>
                <th class="{{ lst.col_act_class }}">{% trans %}btn_admin.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td class="{{ lst.col_id_class() }}">{{ entity.id }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.category }}</td>
                <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="{{ lst.col_act_class }}">
                    {{ lnk.show('cp_news_show', { id: entity.id }) }}
                    {{ lnk.edit('cp_news_edit', { id: entity.id }) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}

    {{ lnk.add('cp_news_new') }}

{% endblock %}

{% block breadcrumb %}
    {{ bc({'cp_news': 'btn_admin.list'}) }}
{% endblock %}
