{% from 'BtnAdminBundle:_macros:breadcrumb.html.twig' import breadcrumb as bc %}
{% from 'BtnAdminBundle:_macros:icon.html.twig' import glyphicon as gi %}
{% import 'BtnAdminBundle:_macros:link.html.twig' as lnk %}
{% import 'BtnAdminBundle:_macros:list.html.twig' as lst %}
{% extends 'BtnAdminBundle::base.html.twig' %}

{% block content %}

    {{ lst.header('news.list') }}

    <table class="{{ lst.table_class() }}">
        <thead>
            <tr>
                <th class="{{ lst.col_id_class() }}">{% trans %}news_category.id{% endtrans %}</th>
                <th>{% trans %}news_category.title{% endtrans %}</th>
                <th>{% trans %}news_category.slug{% endtrans %}</th>
                <th>{% trans %}news_category.visible{% endtrans %}</th>
                <th class="{{ lst.col_act_class() }}">{% trans %}btn_admin.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td class="{{ lst.col_id_class() }}" >{{ entity.id }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.visible ? gi('ok') : gi('remove') }}</td>
                <td class="{{ lst.col_act_class() }}">
                    {{ lnk.show('cp_newscategory_show', {id: entity.id }) }}
                    {{ lnk.edit('cp_newscategory_edit', {id: entity.id }) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}

    {{ lnk.add('cp_newscategory_new') }}

{% endblock %}

{% block breadcrumb %}
    {{ bc({'cp_newscategory': 'crud.breadcrumb.list'}) }}
{% endblock %}
