{% from 'BtnAdminBundle:_macros:breadcrumb.html.twig' import breadcrumb %}
{% extends 'BtnAdminBundle::base.html.twig' %}

{% form_theme form 'BtnAdminBundle:Form:fields.html.twig' %}

{% block content %}

    <form action="{{ path('cp_newscategory_create') }}" method="post" {{ form_enctype(form) }} class="well form-horizontal" novalidate>
          <fieldset>
              <legend>{% trans %}news_category.create{% endtrans %}</legend>
              {{ form_widget(form) }}
        </fieldset>
    </form>

    <a href="{{ path('cp_newscategory') }}" class="btn btn-default">&laquo; {% trans %}crud.back{% endtrans %}</a>

{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb({'cp_newscategory': 'btn_admin.list', 'cp_newscategory_new': 'btn_admin.new'}) }}
{% endblock %}
